.container-detail {
  padding: 2rem;
}

.wrapper {
  margin-top: 2rem;
  margin-left: 2rem;
}

/*.loading-spinner {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  height: 100%;*/
/*  padding: 1rem;*/
/*}*/
