.school-table {
  width: 100%;
}

.container-table {
  padding: 2rem;
}

.search {
  color: #333333;
}

.loading-spinner {
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 300px;
}
